In [1]:
import numpy as np
import pandas as pd

In [18]:
df1 = pd.read_excel('data/DS-2900-D02SC-MDDS.XLSX')

In [19]:
df1

,"D-2 SC: MIGRANTS WITHIN THE STATE/UT CLASSIFIED BY PLACE OF LAST RESIDENCE, SEX AND DURATION OF RESIDENCE IN PLACE OF ENUMERATION FOR SCHEDULED CASTE - 2011",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,Table name,State,District,Area Name,Place of,Last,Last,Total migrants,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,enumeration,residence,residence,NaN,NaN,NaN,...,NaN,10-19 years,NaN,NaN,20+ years,NaN,NaN,Duration not stated,NaN,NaN
2,NaN,NaN,NaN,NaN,Total/Rural/Urban,NaN,Total/Rural/Urban,Persons,Males,Females,...,Females,Persons,Males,Females,Persons,Males,Females,Persons,Males,Females
3,NaN,NaN,NaN,NaN,NaN,NaN,1,2,3,4,...,13,14,15,16,17,18,19,20,21,22
4,D0402SC,29,000,State - KARNATAKA,Total,Total Scheduled Caste migrants within the Stat...,Total,3503725,1184578,2319147,...,307374,576244,149723,426521,940429,186458,753971,903957,481776,422181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
931,D0402SC,29,584,Ramanagara,Urban,Last residence in other districts of the State/UT,Rural,1672,686,986,...,161,377,150,227,436,139,297,142,72,70
932,D0402SC,29,584,Ramanagara,Urban,Last residence in other districts of the State/UT,Urban,2828,1054,1774,...,300,617,226,391,592,172,420,318,131,187
933,D0402SC,29,584,Ramanagara,Urban,Unclassifiable,Total,378,186,192,...,14,50,21,29,39,18,21,203,101,102
934,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
935,Note: The place of last residence unclassif...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN